body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #000000;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #ffffff;
    border-bottom: 3px solid #3498db;
    padding-bottom: 10px;
}

h2 {
    color: #ffffff;
}

p {
    line-height: 1.6;
    color: #ff009d;
}

ul {
    text-color:#ffffff
    background-color: rgb(0, 0, 0);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

li {
    margin: 10px 0;
}

a {
    color: #ff009d;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #ff009d;
    text-decoration: underline;
}